.MainDiv{
  display: inline-flex;
  flex-wrap:wrap;
  flex-direction: row;
}

.row { 
  display: flex; /* establish flex container */ 
  height: auto; /* height from original code */ 
  width: 1024px; /* width from original code */ 
} 
.row > div:first-child { 
  flex: 0 0 80%; /* width from original code */ 
  display: flex; 
  flex-direction: column; /* stack first div children vertically */ 
} 
.row > div:first-child > div { 
  flex: 1; /* items in first div distribute space equally */ 
  border: 1px dashed black; 
} 
.row > div:last-child 
{ 
  flex: 0 0 20%; border: 1px dashed black; 
}
.MainDiv{
  height: auto;
  flex-wrap: wrap;
  flex-direction: row;
}
/*Equipment Box*/
.Equipment{
    width: var(--widthEquipment);
    height: var(--heightEquipment);
    border-radius: 20px;
    background: white;
    left: var(--leftPositionEquipment);
    top: var(--topPositionEquipment);
    border: var(--bgColorEquipment);
    opacity: var(--opacityEquipment);

    margin: 10px 10px 10px 10px;
    position: absolute;    
    padding: 1.8rem;
    padding: 20px 5px 0 5px;
    transition: 0.5s ease-out;
    overflow-y: visible;
    display: flex;
    float: left;

  
    /* display: inline-block; */
    clear: both;
    /* flex-wrap: wrap;
    flex-direction: row; */
}
/* .Equipment::before,.Equipment::after{
  content: '';
  position: absolute;
  right: 50%;
  border-top: 1px solid #ccc;
  width: 50%;
  height: 20px;
}

.Equipment::after{
  right: auto;
  left: 50%;
  border-left: 1px solid #ccc;
} */

.EquipTitle{
    color: black;
    top: 50%;
    width: 100px;
    height: 100px;
    position: absolute;
    left: 50%;
    margin: -15px 0 0 -50px;
}
.EquipmentClose {
    cursor: pointer;
    display: block;
    height: 3.25rem;
    position: relative;
    width: 3.25rem;
  }
.EquipmentClose span {
    display: block;
    height: 1px;
    top: 1;
    right: 1;
    position: fixed;
    transition-duration: 86ms;
    transition-property: background-color,opacity,transform;
    transition-timing-function: ease-out;
    width: 24px;
  }

  .tooltip {
    position: relative;
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 310px;
    color: black;
    text-align: center;
    background-color: white;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    border:3px dashed black;
    left: 100%;
    opacity: 0;
    transition: opacity 1s;
    overflow: auto;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }

  /* Modal Design */
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }

  select{
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 100%;
  }
  
  /* The Close Button */
  .close {
    color: red;
    float: right;
    font-size: 28px;
    font-weight: bold;
    left: auto;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  .equipmentMenu {
    color: gray;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .equipmentMenu:hover,
  .equipmentMenu:focus {
    color: red;
    text-decoration: none;
    cursor: pointer;
  }

  /* Add padding to containers */
  .container {
    padding: 16px;
    background-color: white;
  }

  /* Full-width input fields */
  input[type=text] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
  }

  input[type=text]:focus {
    background-color: #ddd;
    outline: none;
  }

  /* Overwrite default styles of hr */
  hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
  }

  /* Set a style for the submit button */
  .AddEquipmentbtn {
    background-color: #04AA6D;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 50%;
    opacity: 0.9;
  }

  .CancelEquipmentbtn {
    background-color: #f94e4e;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 50%;
    opacity: 0.9;
  }

  .AddEquipmentbtn:hover {
    opacity: 1;
  }

  /* Set a grey background color and center the text of the "sign in" section */
  .signin {
    background-color: #f1f1f1;
    text-align: center;
  }


  /* --TOAST MESSAGE-- */
  #snackbar {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
    font-size: 17px;
  }
  
  #snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
  }
  
  @-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;} 
    to {bottom: 30px; opacity: 1;}
  }
  
  @keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
  }
  
  @-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;} 
    to {bottom: 0; opacity: 0;}
  }
  
  @keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
  }
    /* --TOAST MESSAGE-- */

    /* --MENU-- */
    .main-menu ul {
      margin: 0;
      padding: 0;
      list-style-type: none;
      display: inline-block;
    }
    
    .main-menu ul li a {
      padding: 20px;
      display: block;
      color: #ddd;
      text-decoration: none;
      background: black;
    }
    
    .main-menu ul li ul {
      display: none;
    }
    
    .main-menu ul li:hover ul {
      display: flex;
      flex-direction: column;
    }
    
    .main-menu ul li:hover a {
      color: #fff;
    }
    .OptionColor{
      color:black
    }
    /* --MENU-- */